    /* ==================== */
  /* Background Content   */
  /* ==================== */
  #background-content {
    position: fixed;
    bottom: 0;
    height: 90%;
    width: 100%;
    background: linear-gradient(to bottom, #E9F2F9, #9ECFF6);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
  }

#background-header h3{   
    color: #41779C;
    font-weight: bold;
    text-align: center;
}
#background-header p{
    color: #41779C;
}
#background-header h2 {
  text-align: center; /* Center the h2 below the square */
  margin-top: 20px; /* Add spacing above the h2 */
  color: #113B58;
  font-weight: bold;
}
  
  /* ==================== */
  /* Background Header    */
  /* ==================== */
  #background-header {
    text-align: left;
    margin-top: 5%;
  }
  

  
  
  /* ==================== */
  /* Blur Effect          */
  /* ==================== */
  .blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }
  
  .show-sidebar #background-content,
  .show-sidebar #rectangle-container {
    filter: blur(2px);
  }