/* ==================== */
/* Media Queries        */
/* ==================== */

/* Large screens (1920x1080) */
@media (max-width: 1920px) and (max-height: 1080px) {
    #middle-container h1 {
      font-size: 30px;
    }
  
    #middle-container h3 {
      font-size: 40px;
      margin-bottom: 24px;
    }
  
    #middle-container p {
      font-size: 16px;
    }
  }
  
  /* Medium screens (1440x1080) */
  @media (max-width: 1440px) and (max-height: 1080px) {
    #middle-container h1 {
      font-size: 30px;
    }
  
    #middle-container h3 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    #middle-container p {
      font-size: 16px;
      margin-bottom: 60px;
    }
  
  }
  
  /* Small screens (960x1080) */
  @media (max-width: 960px) and (max-height: 1080px) {
    #middle-container h1 {
      font-size: 30px;
    }
  
    #middle-container h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    #middle-container p {
      font-size: 16px;
      margin-bottom: 20px;
    }
  
  }
  
  /* Large screens (1920x720) */
  @media (max-width: 1920px) and (max-height: 720px) {
    #middle-container h1 {
      font-size: 30px;
    }
  
    #middle-container h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    #middle-container p {
      font-size: 24px;
    }
    #squares-container{
      margin-top: 10%;
    }
  }
  
  /* Medium screens (1440x720) */
  @media (max-width: 1440px) and (max-height: 720px) {
    #content {
      height: 95%;
    }
  
    #middle-container h1 {
      font-size: 20px;
    }
  
    #middle-container h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    #middle-container p {
      font-size: 16px;
      margin-bottom: 50px;
    }
    #squares-container{
      margin-top: 15%;
    }
    #square, #square2{
      height: 220px;
    }
  }
  
  /* Small screens (960x720) */
  @media (max-width: 960px) and (max-height: 720px) {
    #content {
      height: 95%;
    }
  
    #middle-container h1 {
      font-size: 20px;
    }
  
    #middle-container h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    #middle-container p {
      font-size: 16px;
      margin-bottom: 50px;
    }
    #squares-container{
      margin-top: 15%;
    }
    #square, #square2{
      height: 220px;
    }
  }