@media (max-width: 1920px) and (max-height: 1080px) {
    .rectangle:first-child img {
      width: 18%;
    }
    .rectangle:first-child p {
      font-size: 24px;
    }
    .step-header h3,
    .step2-header h3,
    .step3-header h3 {
      font-size: 30px;
    }
    .step-content img,
    .step3-content img {
      width: 50%;
      height: auto;
      margin-top: 10px;
    }
    .step2-content img {
      width: 40%;
      height: auto;
    }
    .step-content p,
    .step2-content p,
    .step3-content p {
      font-size: 20px;
    }
  }
  
  @media (max-width: 1440px) and (max-height: 1080px) {
    .rectangle:first-child img {
      width: 18%;
    }
    .rectangle:first-child p {
      font-size: 22px;
    }
    .step-header h3,
    .step2-header h3,
    .step3-header h3 {
      font-size: 28px;
    }
    .step-content img {
      width: 60%;
      height: auto;
      margin-top: 10px;
    }
    .step3-content img {
      width: 50%;
      height: auto;
    }
    .step2-content img {
      width: 40%;
      height: auto;
    }
    .step-content p,
    .step2-content p,
    .step3-content p {
      font-size: 18px;
    }
  }
  
  @media (max-width: 960px) and (max-height: 1080px) {
    .rectangle:first-child img {
      width: 18%;
    }
    .rectangle:first-child p {
      font-size: 22px;
    }
    .step-header h3,
    .step2-header h3,
    .step3-header h3 {
      font-size: 28px;
    }
    .step-content img {
      width: 60%;
      height: auto;
      margin-top: 10px;
    }
    .step3-content img {
      width: 50%;
      height: auto;
    }
    .step2-content img {
      width: 40%;
      height: auto;
    }
    .step-content p,
    .step2-content p,
    .step3-content p {
      font-size: 18px;
    }
  }
  
  @media (max-width: 1920px) and (max-height: 980px) {
    .rectangle:first-child img {
      width: 15%;
    }
    .rectangle:first-child p {
      font-size: 20px;
    }
    .step-header h3,
    .step2-header h3,
    .step3-header h3 {
      font-size: 26px;
    }
    .step-content img {
      width: 55%;
      height: auto;
      margin-top: 10px;
    }
    .step3-content img {
      width: 45%;
      height: auto;
    }
    .step2-content img {
      width: 35%;
      height: auto;
    }
    .step-content p,
    .step2-content p,
    .step3-content p {
      font-size: 16px;
    }
  }
  
  @media (max-width: 1440px) and (max-height: 800px) {
    .rectangle:first-child img {
      width: 15%;
    }
    .rectangle:first-child p {
      font-size: 20px;
    }
    .step-header h3,
    .step2-header h3,
    .step3-header h3 {
      font-size: 24px;
    }
    .step-content img {
      width: 52%;
      height: auto;
      margin-top: 10px;
    }
    .step3-content img {
      width: 42%;
      height: auto;
    }
    .step2-content img {
      width: 32%;
      height: auto;
    }
    .step-content p,
    .step2-content p,
    .step3-content p {
      font-size: 14px;
    }
  }